---
---

@import "{{ site.theme }}";

img {
    float: right;
    width: 50;
    max-height: 50;
}

p, ul {
    color: #0e0e0e;
}

.inner li {
    margin-left: 20px;
    padding-left: 10px;
}

#sidebar { 
    width: 160px;
    position: absolute;
    right: calc(53% + 310px); top: 240px;
    margin: 0 0 0 0px;
    font-size: 16px;
}

#sidebar li {
    padding-left: 10px;
    padding-bottom: 10px;
    list-style-type:'-';
}

@media only screen and (max-width: 960px) {
    #sidebar {
        display: none;
    }
}